<div class="password_confirmed">
	<%= form_tag controller: "users", action: "confirm_password" %>
	<%= password_field_tag :password, params[:password], class: 'form-control confirm',
		placeholder: "Enter in your password" %>
	<%= submit_tag 'Submit', class: 'form-control' %>
</div>
