// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@import "mixins";
#cart{
	margin-top:$cart_top;
	table{
		@include cart_table
	}
}

.sidebar{
	font-size: $cart_fontsize;
	color:$cart_fontcolor;
}

.store-image{
	margin-top: 2em;
}
.store_item{
	list-style-type:none;
}
h1.store_header{
	font-size:200%;
}
.item_description{
	font-size: 1.1em;
	color:#111;
	margin-bottom:1.5em;
	border-bottom: dotted 1px #000;
	padding-bottom: .5em;
	
}
.btn-clear{
	background:$btn-clear;
}
.btn-decrement{
	background: $btn-decrement;
}

.btn-add{
	background: $btn-add;
}

