@import "bootstrap-sprockets";
@import "bootstrap";
$store-h1-color: #226;
$store-h3-color: #277;
$store-h1-border: #77d;
$sans-font: arial;
$price-color: #44a;
// cart side styling
$cart_background:#EFE;
$cart_fontsize:.9em;
$cart_top:4em;
$cart_fontcolor:#222;
$cart_tableborder:#AAA;
$cart_tablepadding:4px;
$btn-add:#efe;
$btn-decrement: #eef;
$btn-clear: #fee;


