	<h1 class="store_header">Your Pragmatic Catalog</h1>
	
	<% cache ['store', Product.latest] do %>
		<% cache ['store_item'], p do %>
			<ul class='store_item'>
				<%= render @products %>
			</ul>
		<% end %>
<%end%>

