<div class="row">
	<div class="col-md-12 text-center" >
	<ul class=menu>
		<li><a href="http://www....">Home</a></li>
		<li><a href="http://www..../faq">Questions</a></li> 
		<li><a href="http://www..../news">News</a></li> 
		<li><a href="http://www..../contact">Contact</a></li>
		</ul>
	</div>
</div>
